<ion-content [fullscreen]="true">
  <div id="container">
    <strong style="font-size: 18px;">@codetrix-studio/capacitor-google-auth</strong>
    <p>Firebase/Google-Provider</p>
    <ion-button (click)="signIn()">SignIn Google</ion-button>
    
    <ion-item *ngIf="!!user.imageUrl">
      <ion-avatar slot="start">
        <img alt="Image profile" [src]="user.imageUrl" />
      </ion-avatar>
      <ion-label>{{user.givenName}} {{user.familyName}}</ion-label>
    </ion-item>

    <ion-item *ngIf="!!user.email">
      <ion-input label="Email:" placeholder="Enter company name" [value]="user.email"></ion-input>
    </ion-item>
  </div>
</ion-content>